---
---

// Variables

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$nav-text: white;
$page-bkg: aliceblue;
$footer-bkg: #252626;
$footer-text: #99adbb;
$text-light: aliceblue;
$darkest-blue: #39586F;
$dark-blue: #5380A2;
$middle-blue: #7AbCEE;
$light-blue: #81C6FB;

// Imports
@import "base";
@import "type";
@import "layout";
@import "mixins";

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
  font: inherit;
}
::selection {
  background: coral;
}
::-moz-selection {
  background: coral;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 100%;
  line-height: 1;
  background-color: $page-bkg;
  font-family: $primary-font;
  color: $darkest-blue;
}
ol,
ul {
  list-style: none;
}
hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 3em 0;
  padding: 0;
  background-color: #5380A2;
}
img {
  width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
  outline-color: $light-blue;
}
button {
  border: 0;
  font-family: 'Lato', sans-serif;
}
p {
  line-height: 1.4;
}
section {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0 auto;
}
main {
  margin-top: 80px;
}
@media only screen and (min-width: 768px) {
  main {
    margin-top: 0px;
  }
}

/* NAVIGATION */

.nav-top {
  background-color: $dark-blue;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; 
  
  .nav-container {
    max-width: 1180px;
    min-height: 80px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 35px;
    &:after,
    &:before {
      content: "";
      display: table;
    }
    &:after {
      clear: both;
    }
  }
}

.logo-name {
  display: inline-block;
  text-align: left;
  
  h1 {
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 900;
    letter-spacing: 1px;
    vertical-align: top;
  }
  a {
    @include transition;
    &:hover {
      color: $light-blue;
    }
  }
}

.nav-mobile-button {
  cursor: pointer;
  float: right;
  border: 2px solid $nav-text;
  padding: 0;
  background-color: transparent;
  color: $nav-text;
  width: 46px;
  height: 46px;
  top: -18px;
  position: relative;
  font-size: 1.125em;
  &:focus {
    outline: none;
  }
}

.nav-main {
  clear: both;
  margin-left: -20px;
  margin-right: -20px;

  ul {
    margin: 0;
    padding: 0;
    border-top: 3px solid $darkest-blue;
    
    li {
      display: block;
      padding: 0.8rem;
      border-bottom: 3px solid $darkest-blue;
      color: $text-light;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      
      a {
        opacity: 0.8;
        @include transition;
        &:hover {
          color: $light-blue;
        }
        &.current {
          color: $nav-text;
          opacity: 1;
        }
      }
    }
  }
}

.js {
  .nav-main.active {
    display: block;
    max-height: 15em;
    @include transition;
  }
}

.js {
  .nav-main {
    overflow: hidden;
    max-height: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav-top {
    position: relative;
    
    .nav-container {
      padding-top: 20px;
      min-height: 80px;
    }
  }

  .logo-name {
    display: inline-block;
    float: left;
    padding: .8rem;
  }

  .nav-mobile-button {
    display: none;
  }

  .nav-main {
    display: inline-block;
    float: right;
    clear: none;
    margin-left: 0;
    margin-right: 0;
    max-height: none;
    display: inline-block;
    vertical-align: middle;

    ul {
      border: 0;
      display: inline-block;
      
      li {
        margin: 0 0.25em;
        border: 0;
        display: inline-block; /* not sure */
      }
    }  
  }

  .js {
    .nav-main {
      max-height: none;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

/* HOME PAGE HEADER */

.intro {
  width: 100%;
  padding: 80px 30px 74px 30px;
  color: #39586F;
  background: #7ABCEE;
  text-align: center;
  display: block;
  position: relative;
  font-size: 1rem;
  line-height: 1.4;
}
.intro-container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;

  h1 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .7em;
    font-size: 1.4em;
  }
}
.intro-list {
  display: none;
  font-size: 1.125em;
}
.intro-scroll {
  display: inline-block;
  padding-top: 1.25em;
  margin-top: 1.25em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 900;
  letter-spacing: 1px;
  color: $nav-text;
  @include transition;
  &:hover {
    color: $darkest-blue;
  }

  .fa {
    display: block;
    font-size: .875em;
  }
}
.first-word {
  display: table;
  margin: auto;
  font-size: 2em;
  font-family: $secondary-font;
  font-weight: 300;
}

.underline {
  text-decoration: none;
  color: $nav-text;
  font-weight: 700;
  border-bottom: 1px dashed;
  padding-bottom: -5px;
}

@media only screen and (min-width: 480px) {
  .intro-container {
    h1 {
      font-size: 1.6em;
    }
  }
  
  .intro-list {
    display: block;
    margin-bottom: 1em;
    padding-left: 0;
    font-weight: 600;

    li {
      display: inline-block;
      margin-left: .2em;
      vertical-align: middle;
      &:before {
        font-family: 'FontAwesome';
        content: '\f111';
        font-size: 4px;
        vertical-align: middle;
        display: inline-block;
        margin-right: 1.5em;
      }
      &:first-child:before {
        content: none;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .intro {
    padding: 180px 40px 174px 40px;
  }

  .intro-container {
    h1 {
      font-size: 1.8em;
    }
  }
}
@media only screen and (min-width: 1100px) {
  .intro-container {
    h1 {
      font-size: 2em;
    }
  }
}

/* FULL WIDTH BUTTON */

.button-fullwidth {
  cursor: pointer;
  background-color: $light-blue;
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  color: $nav-text;
  @include transition;
  &:hover,
  &:focus,
  &:active {
    background-color: $darkest-blue;
  }

  a{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 1rem;
    padding-bottom: .8rem;
    display: block;
  }

  .fa {
    padding: 0 0.3em;
  }
}

/* HOME PAGE - PORTFOLIO */

.portfolio-showcase {
  background: aliceblue;
  padding-top: 80px;
  max-width: 1200px;

  h2 {
    padding-bottom: 60px;
    text-align: center;
  }

  h3 {
    text-align: center;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    font-size: 1rem;
    font-weight: 400;
  }

  figure {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-top: 0.5em;
      
  
  }
}
.portfolio-images {
  background: transparent;
  &:hover>img {
    opacity: 1;
    @include transition;
  }

  img {
    opacity: .5;
    z-index: 100;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    &.logo {
      position: absolute;
      top: .5em;
      left: 0;
      opacity: 1;
      width: 100%;
      background: transparent;
      @include transition;
      &:hover {
        opacity: 0.3;
      }
    }
  }
}
#rosewater {
  background-color: antiquewhite;
}
#curryscakeangels {
  background-color: #7ABCEE;
}
#carpentry {
  background-color: #F6D380;
}
#westcoastkitchen {
  background-color: darkseagreen;
}
#js-quote {
  background-color: coral;
}

@media only screen and (min-width: 580px) {
  .portfolio-showcase {
    figure {
      width: 50%;
    }
  }
}
@media only screen and (min-width: 768px) {
  .portfolio-showcase {
    h2 {
      font-size: 1.6em;
    }
  }
}

/* HOME PAGE - TESTIMONIALS */