---
---

// Variables

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$black: #111111;
$nav-text: white;
$page-bkg: aliceblue;
$footer-bkg: #252626;
$footer-text: #99adbb;
$text-light: aliceblue;
$darkest-blue: #39586F;
$dark-blue: #5380A2;
$middle-blue: #7AbCEE;
$light-blue: #81C6FB;

// Imports

@import "reset";
@import "mixins";

::selection,
::-moz-selection {
  background: coral;
}

body {
  font-size: 100%;
  line-height: 1;
  background-color: $page-bkg;
  font-family: $primary-font;
  color: $black;
}
hr {
  display: block;
  height: 2px;
  border: 0;
  margin: 3em 0;
  padding: 0;
  background-color: $dark-blue;
}
img {
  width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
  outline-color: $light-blue;
}
button {
  border: 0;
  font-family: 'Lato', sans-serif;
}
p {
  line-height: 1.4;
}
section {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0 auto;
}
main {
  margin-top: 80px;
}
@media only screen and (min-width: 768px) {
  main {
    margin-top: 0px;
  }
}

/* NAVIGATION */

.nav-top {
  background-color: $dark-blue;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; 
  
  .nav-container {
    max-width: 1180px;
    min-height: 80px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 35px;
    &:after,
    &:before {
      content: "";
      display: table;
    }
    &:after {
      clear: both;
    }
  }
}

.logo-name {
  display: inline-block;
  text-align: left;
  
  h1 {
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 900;
    letter-spacing: 1px;
    vertical-align: top;
  }
  a {
    @include transition;
    &:hover {
      color: $light-blue;
    }
  }
}

.nav-mobile-button {
  cursor: pointer;
  float: right;
  border: 2px solid $nav-text;
  padding: 0;
  background-color: transparent;
  color: $nav-text;
  width: 46px;
  height: 46px;
  top: -18px;
  position: relative;
  font-size: 1.125em;
  &:focus {
    outline: none;
  }
}

.nav-main {
  clear: both;
  margin-left: -20px;
  margin-right: -20px;

  ul {
    margin: 0;
    padding: 0;
    border-top: 3px solid $darkest-blue;
    
    li {
      display: block;
      padding: 0.8rem;
      border-bottom: 3px solid $darkest-blue;
      color: $text-light;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      
      a {
        opacity: 0.8;
        @include transition;
        &:hover {
          color: $light-blue;
        }
        &.current {
          color: $nav-text;
          opacity: 1;
        }
      }
    }
  }
}

.js {
  .nav-main.active {
    display: block;
    max-height: 15em;
    @include transition;
  }
}

.js {
  .nav-main {
    overflow: hidden;
    max-height: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav-top {
    position: relative;
    
    .nav-container {
      padding-top: 20px;
      min-height: 80px;
    }
  }

  .logo-name {
    display: inline-block;
    float: left;
    padding: .8rem;
  }

  .nav-mobile-button {
    display: none;
  }

  .nav-main {
    display: inline-block;
    float: right;
    clear: none;
    margin-left: 0;
    margin-right: 0;
    max-height: none;
    display: inline-block;
    vertical-align: middle;

    ul {
      border: 0;
      display: inline-block;
      
      li {
        margin: 0 0.25em;
        border: 0;
        display: inline-block; /* not sure */
      }
    }  
  }

  .js {
    .nav-main {
      max-height: none;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

/* HOME PAGE HEADER */

.intro {
  width: 100%;
  padding: 80px 30px 74px 30px;
  color: #39586F;
  background: #7ABCEE;
  text-align: center;
  display: block;
  position: relative;
  font-size: 1rem;
  line-height: 1.4;
}
.intro-container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;

  h1 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .7em;
    font-size: 1.4em;
  }
}
.intro-list {
  display: none;
  font-size: 1.125em;
}
.intro-scroll {
  display: inline-block;
  padding-top: 1.25em;
  margin-top: 1.25em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 900;
  letter-spacing: 1px;
  color: $nav-text;
  @include transition;
  &:hover {
    color: $darkest-blue;
  }

  .fa {
    display: block;
    font-size: .875em;
  }
}
.first-word {
  display: table;
  margin: auto;
  font-size: 2em;
  font-family: $secondary-font;
  font-weight: 300;
}

.underline {
  text-decoration: none;
  color: $nav-text;
  font-weight: 700;
  border-bottom: 1px dashed;
  padding-bottom: -5px;
}

@media only screen and (min-width: 480px) {
  .intro-container {
    h1 {
      font-size: 1.6em;
    }
  }
  
  .intro-list {
    display: block;
    margin-bottom: 1em;
    padding-left: 0;
    font-weight: 600;

    li {
      display: inline-block;
      margin-left: .2em;
      vertical-align: middle;
      &:before {
        font-family: 'FontAwesome';
        content: '\f111';
        font-size: 4px;
        vertical-align: middle;
        display: inline-block;
        margin-right: 1.5em;
      }
      &:first-child:before {
        content: none;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .intro {
    padding: 180px 40px 174px 40px;
  }

  .intro-container {
    h1 {
      font-size: 1.8em;
    }
  }
}
@media only screen and (min-width: 1100px) {
  .intro-container {
    h1 {
      font-size: 2em;
    }
  }
}

/* FULL WIDTH BUTTON */

.button-fullwidth {
  cursor: pointer;
  background-color: $light-blue;
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  color: $nav-text;
  @include transition;
  &:hover,
  &:focus,
  &:active {
    background-color: $darkest-blue;
  }

  a{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 1rem;
    padding-bottom: .8rem;
    display: block;
  }

  .fa {
    padding: 0 0.3em;
  }
}

/* HOME PAGE - PORTFOLIO */

.section-title {
  padding-bottom: 60px;
  text-align: center;
}

.portfolio-showcase {
  background: aliceblue;
  padding-top: 80px;
  max-width: 1200px;

  h3 {
    text-align: center;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    font-size: 1rem;
    font-weight: 400;
  }

  figure {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-top: 0.5em;
      
  
  }
}
.portfolio-images {
  background: transparent;
  &:hover>img {
    opacity: 1;
    @include transition;
  }

  img {
    opacity: .5;
    z-index: 100;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    &.logo {
      position: absolute;
      top: .5em;
      left: 0;
      opacity: 1;
      width: 100%;
      background: transparent;
      @include transition;
      &:hover {
        opacity: 0.3;
      }
    }
  }
}
#rosewater {
  background-color: antiquewhite;
}
#curryscakeangels {
  background-color: #7ABCEE;
}
#carpentry {
  background-color: #F6D380;
}
#westcoastkitchen {
  background-color: darkseagreen;
}
#js-quote {
  background-color: coral;
}

@media only screen and (min-width: 580px) {
  .portfolio-showcase {
    figure {
      width: 50%;
    }
  }
}
@media only screen and (min-width: 768px) {
  .portfolio-showcase {
    h2 {
      font-size: 1.6em;
    }
  }
}

/* HOME PAGE - TESTIMONIALS */

.testimonials-showcase {
  padding-top: 80px;
  padding-bottom: 60px;
  max-width: 760px;

  .testimonial {
    text-align: left;
    padding: 0 20px 20px 20px;
    width: 100%;

    .quote {
      line-height: 1.5;
      font-size: 1.125rem;
      margin-bottom: 20px;
    }

    .source {
      text-align: right;
      font-weight: 700;

      a {
        color: $dark-blue;
        @include transition;
        &:hover {
          color: $middle-blue;
        }
      }
    }
  }
}

/* FOOTER */

.footer-page {
  background-color: $footer-bkg;
  color: $footer-text;

  .footer-container {
    padding: 40px 20px 10px 20px;
    max-width: 760px;
    line-height: 1.4;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
    & > div {
      margin-bottom: 2em;
      width: 100%;
    }
    & > div:not(:first-child) {
      text-align: center;
    }

    p {
      line-height: 1.4;
      font-size: .875rem;
      letter-spacing: 1px;
      margin-bottom: 1em;
    }

    a {
      font-weight: 700;
      color: $nav-text;
      @include transition;
      &:hover {
        color: $middle-blue;
      }
    }

    li {
      display: inline-block;
      padding: 0 12px 0 8px;
    }

    dt {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.125rem;
      line-height: 2;
    }

    dd {
      display: none;
    }
  }
}
.emphasis {
  color: $nav-text;
}

@media only screen and (min-width: 580px) {
  .footer-page {
    .footer-container {
      dt {
        line-height: 1.2;
      }
      dd {
        display: inline-block;
        padding-bottom: 1.5em;
        font-size: 0.875rem
      }
    }
  }
}

/* PAGES STYLING */

.pages {
  .intro {
    line-height: 1.2;
    padding: 60px 30px;

    h1 {
      text-transform: none;
      color: $nav-text;
      font-size: 2.4rem;
      margin-bottom: .1em;
    }

    h2 {
      font-size: 1.2em;
    }
  }
}

.content {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  padding: 80px 20px;
  & > :first-child {
    margin-top: 0;
  }

  h1 {
    font-size: 2.2em;
    margin-top: 2.2em;
  }

  h2 {
    font-size: 1.8em;
    margin-top: 2em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.4em;
    font-weight: 700;
    margin-top: 1.8em;
    line-height: 1.3;
  }

  p {
    line-height: 1.5;
    margin-top: 1em;
    font-size: 1em;
  }

  ul {
    margin-left: 1.5em;
    margin-top: 0.5em;
  }

  li {
    list-style-type: square;
    line-height: 1.5;
    font-size: 1em;
  }

  a {
    border-bottom: 1px solid $middle-blue;
    font-weight: 700;
    @include transition;
    &:hover {
      color: $middle-blue;
    }
  }
}

.conclusion {
  margin-top: 3em;
}

.about {
  img {
    height: 110px;
    width: 110px;
    float: left;
    margin-right: .5em;
    margin-top: -1.1em;
    border: 5px solid $middle-blue;
    border-radius: 55px;
  }
}

@media only screen and (min-width: 768px) {
  .pages {
    .intro {
      line-height: 1.2;
      padding: 100px 30px;
    }
  }
}

/* FORM */

.contact-form {
  margin-top: 3.5em;

  p {
    line-height: 1.2;
    font-size: 1rem;
  }

  label {
    margin-top: 1.4em;
    margin-bottom: .4em;
    width: 100%;
    display: inline-block;  
  }

  input,
  textarea {
    width: 100%;
    padding: .8rem;
    font-size: 1rem;
    font-weight: 300;
    font-family: $primary-font;
  }

  .button-submit {
    display: inline-block;
    margin-top: 1em;
  }

  input[type="submit"] {
    border: 0;
    color: $nav-text;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    font-size: 1.2em;
    background-color: $middle-blue;
    padding: .8em 1.2em;
    cursor: pointer;
    @include transition;
  }

  input[type="submit"]:hover {
    background-color: $darkest-blue;
  }
}

/* PORTFOLIO PAGES */

.portfolio-page {
  img {
    margin-bottom: 2em;
    padding-left: 10px;
    padding-right: 10px;
  }

  p {
    margin-top: 2em;
  }

  .button-visit-website {
    text-align: center;
    margin-top: 2em;
  
    a {
      display: inline-block;
      background-color: $light-blue;
      font-size: 1.25em;
      font-weight: 700;
      text-transform: uppercase;
      color: $nav-text;
      padding: 1rem 1rem 1rem 1rem;
      text-decoration: none;
      border: none;
      @include transition;
      &:hover,
      &:focus,
      &:active {
        background-color: $darkest-blue;
      }
    }
  }
}

/* BLOG POSTS */

.blog {
  p {
    font-size: 1.125em;
  }

  li {
    font-size: 1.125em;
  }

  .blog blockquote {
    background-color: $nav-text;
    position: relative;
    padding: 1.5rem 1em 1.5rem 3em;
    margin: 2em 0;
    font-style: italic;
    quotes: none;
    &::before {
      content: "\f10d";
      font-family: FontAwesome;
      color: $dark-blue;
      position:absolute;
      top:30px;
      left:8px;
      display:block;
      font-size: 2em;
      font-style: normal;
    }
    & > p {
      margin: 0;
    }
  }

  code {
    font-family: monospace;
    background: #5380A2;
    color: white;
    padding: .1em .4em;
    border-radius: .4em;
  }

  dl {
    padding: 0 0 0 1em;
    margin: 2em 0;
  }

  dt {
    font-size: 1.6em;
    margin: 1em 0 0 0;
    color: #5380A2;
    font-weight: bold;
  }

  dd {
    padding: 0.6em 0 0 0;
    line-height: 1.3;
  }

  figure {
    padding: 0;
    margin: 2em 0;
  }

  figcaption {
    font-style: italic;
    text-align: center;
    margin-top: .5em;
  }
}

.blog {
  .note {
    margin: 2em 0;
    padding: 1em;
    color: $page-bkg;
    &.blue {
      background-color: $dark-blue;
    }

    h4 {
      font-size: 1.75em;
      margin: 0 0 .1em 0;
    }

    p {
      line-height: 1.4;
    }

    a {
      color: $nav-text;
      border-bottom-color: $nav-text;
      &:hover {
        color: $middle-blue;
        border-bottom-color: $middle-blue;
      }
    }

    code {
      font-family: monospace;
      background: $page-bkg;
      color: $dark-blue;
      padding: .1em .4em;
      border-radius: .4em;
    }
  }
}

.terminal {
  border-top: 22px solid #bbb;
  width: 100%;
  background-color: #151515;
  margin: 2em 0;
  border-top-right-radius: .6em;
  border-top-left-radius: .6em;
  color: #9CD9F0;
  font-family: monospace;
  padding: 2em 1.5em 2em 2em;
  & > :first-child {
    margin-top: 0;
  }

  p {
    position: relative;
    text-align: left;
    font-size: 1rem;
    &.command:before {
      content: '$';
      position: absolute;
      left: -15px;
      top: 0;
    }
  }
}

@media only screen and (min-width: 580px) {
  .blog {
    .note {
      padding: 1.5em;
    }

    dl {
      padding: 0 0 0 1.5em;
    }

    img {
      padding: 0 1.5em;
    }
  }
}

/* POST COMMENTS */

.comments {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  padding: 20px;
}