---
layout: default
---

<main>
  <article class="pages">
    <header class="intro">
      <h1>{% if page.heading_text %}{{ page.heading_text }}{% else %}{{ page.title }}{% endif %}</h1>
      <h2>{% if page.subheading_text %}{{ page.subheading_text}}{% else %}{{page.description}}{% endif %}</h2>
    </header>
    {% include button-top.html %}
    <div class="content {% if page.type == "about" %}about{% elsif page.type == "portfolio" %}portfolio-page{% endif %}">
      {{ content }}
      {% if page.blog-list %}
        {% include blog-list.html %}
      {% endif %}
      {% if page.type == "portfolio" or page.type == "about" %}
      {% include portfolio-last-p.html %}
      {% endif %}
    </div>
    {% include button-bottom.html %}
  </article>
</main>
