---
layout: default
---

<main id="pages" class="portfolio-page">
  <article>
    <header class="intro">
      <h1>{% if page.heading_text %}{{ page.heading_text }}{% else %}{{ page.title }}{% endif %}</h1>
      <h2>{% if page.subheading_text %}{{ page.subheading_text}}{% else %}{{page.description}}{% endif %}</h2>
    </header>
    <div class="content">
      {{ content }}
      {% include portfolio-last-p.html %}
    </div>
  </article>
</main>

{% include button.html relative_url="/hire-sebastian/" title="Enquire about hiring me for you project" text="Hire me for your project" %}
