{% case page.button-bottom %}
{% when "contact-portfolio" %}
     <button class="more"><a class="fullwidth" href="/hire-sebastian/" title="Enquire about hiring me for your project">Hire me for your project <i class="fa fa-chevron-right"></i></a></button>
{% when "contact" %}
     <button class="more"><a class="fullwidth" href="/hire-sebastian/" title="General Enquiry">Contact Me <i class="fa fa-chevron-right"></i></a></button>
{% when "about" %}
     <button class="more"><a class="fullwidth" href="/about/" title="Learn more about me and my skills">About Me <i class="fa fa-chevron-right"></i></a></button>
{% when "portfolio" %}
     <button class="more"><a class="fullwidth" href="/#portfolio-scroll" title="View Web Design Portfolio">View Portfolio <i class="fa fa-chevron-right"></i></a></button>
{% else %}
{% endcase %}
