{% case page.button-top %}
{% when "contact" %}
     <button class="button-fullwidth"><a href="{% link _pages/contact.md %}" title="Contact Me">Contact Me <i class="fa fa-chevron-right"></i></a></button>
{% when "about" %}
     <button class="button-fullwidth"><a href="{% link _pages/about.md %}" title="Learn more about me and my skills">About Me <i class="fa fa-chevron-right"></i></a></button>
{% when "portfolio" %}
     <button class="button-fullwidth"><a href="{% link _pages/home.html %}#portfolio-scroll" title="View Web Design Portfolio">View Portfolio <i class="fa fa-chevron-right"></i></a></button>
{% else %}
{% endcase %}
