{% case page.button-bottom %}
{% when "contact-portfolio" %}
     <button class="button-fullwidth"><a href="{% link _pages/home.html %}" title="Enquire about hiring me for your project">Hire me for your project <i class="fa fa-chevron-right"></i></a></button>
{% when "contact" %}
     <button class="button-fullwidth"><a href="{% link _pages/contact.md %}" title="General Enquiry">Contact Me <i class="fa fa-chevron-right"></i></a></button>
{% when "about" %}
     <button class="button-fullwidth"><a href="{% link _pages/about.md %}" title="Learn button-fullwidth about me and my skills">About Me <i class="fa fa-chevron-right"></i></a></button>
{% when "portfolio" %}
     <button class="button-fullwidth"><a href="{% link _pages/home.html %}#portfolio-scroll" title="View Web Design Portfolio">View Portfolio <i class="fa fa-chevron-right"></i></a></button>
{% else %}
{% endcase %}
