        <footer id="footer-page">
                  <div class="container">
           <div class="rows">
               <div class="col-3">
                   <p><snap>Sebastian Kulig</snap> - Front-end Web Developer &amp; Designer residing in the beautiful West of Ireland. Producing high-quality websites and user experiences. Founder of <a href="http://www.skwebdesign.ie" target="_blank" title="SKdesign - Responsive Web Design & Development in Castlebar, Ireland">SKdesign <i class="fa fa-external-link"></i></a></p>
               </div>
               <div class="col-3">
                   <ul class="social-links">
                       <li><a href="https://twitter.com/{{ site.owner.twitter_username }}"><i class="fa fa-twitter fa-2x"></i></a></li>
                       <li><a href="https://www.instagram.com/{{ site.owner.instagram_username }}"><i class="fa fa-instagram fa-2x"></i></a></li>
                       <li><a href="https://github.com/{{ site.owner.github_username }}"><i class="fa fa-github fa-2x"></i></a></li>
                       <li><a href="http://codepen.io/{{ site.owner.codepen_username }}"><i class="fa fa-codepen fa-2x"></i></a></li>
                   </ul>
               </div>   
               <div class="col-3">
                   <nav id="footer-nav">
                       <dl>
                           <dt><a href="{{ site.url }}/about/">About</a></dt>
                               <dd>Learn more about my skills</dd>
                           <dt><a href="{{ site.url }}/">My Work</a></dt>
                               <dd>Front-end development work</dd>
                           <dt><a href="{{ site.url }}/contact/">Contact Me / Hire Me</a></dt>
                               <dd>Enquire about hiring me or contact with general enquiry</dd>
                       </dl>
                   </nav>
               </div>
           </div>
            <div class="copyright">
                <p><small>&copy; 2017 Sebastian Kulig</small></p>
            </div>
        </div>
</footer>
