<header class="top-navigation" id="headerPage">
    <div class="container">
        <div class="logo-name">
            <h1><a href="{% link _pages/home.html %}">Sebastian Kulig</a></h1>
        </div>
        <button class="mobile-nav-button" id="mobileNav"><i class="fa fa-bars fa-2x"></i></button>

        <nav class="main-nav" id="mainNav">
            <ul class="nav-menu">
                <li>
                    <a href="{% link _pages/about.md %}" title="Web Designer &amp; Front-end Developer">About</a>
                </li>
                <li>
                    <a id="navHome" href="{% link _pages/home.html %}#portfolio-scroll" title="Portfolio of Web Design &amp; Front-end Development">Projects</a>
                </li>
                <li>
                    <a href="{% link _pages/blog.md %}" title="Blog about Coding &amp; Full Stack Web Development">Blog</a>
                </li>
                <li>
                    <a href="{% link _pages/contact.md %}" title="Hire Sebastian - a Web Designer &amp; Front-end Developer">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>