<header id="header-page">
           <div class="container">
            <div class="logo-name">
                <h1><a href="{{ site.baseurl }}/">Sebastian Kulig</a></h1>
            </div>
            <button id="mobile-nav"><i class="fa fa-bars fa-2x"></i></button>

            <nav id="main-nav" role="navigation">
                <ul class="nav-menu">
                    <li>
                        <a href="{{ site.url }}/about/" title="Web Designer & Front-end Developer">About</a>
                    </li>
                    <li>
                        <a id="nav-home" href="{{ site.url }}/" title="Portfolio of Web Design & Front-end Development">My Work</a>
                    </li>
                    <li>
                        <a href="{{ site.url }}/hire-sebastian/" title="Hire Sebastian - a Web Designer & Front-end Developer">Hire Me / Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
</header>
