---
layout: default
type: home
permalink: /
button-top: about
button-bottom: contact
---

<main>
  
   <header class="intro">
    <h1>
      <span class="break">Welcome! </span>I am a on a journey to become a<br/> <span class="underline">Full-Stack Web developer</span>
    </h1>
    <ul class="intro-list">
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>C#</li>
    </ul>
    <a id="view-portfolio" href="#portfolio-scroll" title="view my work">View Portfolio<i class="fa fa-chevron-down"></i></a>
  </header>
    {% include button-top.html %}
<!-- PORTFOLIO SECTION -->    
  <section id="portfolio">
    <h2 id="portfolio-scroll">Portfolio</h2>
    <figure id="westcoastkitchen">
      <a href="{% link _pages/portfolio/west-coast-kitchen.md %}">
        <div class="portfolio-item">
          <img class="project" src="{% link assets/img/projects/Project-WestCoastKitchen_small.jpg %}" alt="West Coast Kitchen - South African Foods and Textiles">
          <img class="logo" src="{% link assets/img/projects/Project-WestCoastKitchen-logo_small.png %}" alt="Logo of West Coast Kitchen">
        </div>
      </a>
      <figcaption>
        <h3>Shopify, HTML, CSS, Responsive</h3>
      </figcaption>
    </figure><figure id="rosewater">
      <a href="{% link _pages/portfolio/rosewater.md %}">
        <div class="portfolio-item">
          <img class="project" src="{% link assets/img/projects/Project-Rosewater_small.jpg %}" alt="Rosewater - Wedding Decor Specialist">
          <img class="logo" src="{% link assets/img/projects/Project-Rosewater-logo_small.png %}" alt="Logo of Rosewater">
        </div>
      </a>
      <figcaption>
        <h3>Shopify, HTML, CSS, Responsive
      </h3>
      </figcaption>
    </figure><figure id="carpentry">
      <a href="{% link _pages/portfolio/2k-carpentry.md %}">
        <div class="portfolio-item">
          <img class="project" src="{% link assets/img/projects/Project-2kCarpentry_small.jpg %}" alt="2k Carpentry">
          <img class="logo" src="{% link assets/img/projects/Project-2kCarpentry-logo_small.png %}" alt="Logo of 2k Cerpentry">
        </div>
      </a>
      <figcaption>
        <h3>Wordpress, HTML, CSS, Responsive</h3>
      </figcaption>
    </figure><figure id="js-quote">
      <a href="{% link _pages/portfolio/js-quote-generator.md %}">
        <div class="portfolio-item">
          <img class="project" src="{% link assets/img/projects/Project-JS-Quote-Generator_small.jpg %}" alt="JavaScript Architecture Quote Generator">
          <img class="logo" src="{% link assets/img/projects/Project-JS-Quote-Generator-logo_small.png %}" alt="Logo of JS Quote Generator">
        </div>
      </a>
      <figcaption>
        <h3>HTML5, CSS3, JavaScript, Responsive</h3>
      </figcaption>
    </figure>
  </section>

<!-- FEATURED TESTIMONIALS SECTION -->
  <section id="featured-testimonials">
    <h2>Testimonials</h2>
    <blockquote>
      <p><i class="fa fa-quote-left fa-4x fa-pull-left" aria-hidden="true"></i>I have had the pleasure of working with Sebastian over a number of months on the design and set up of my online shop using Shopify. My overall experience has been excellent; I would like to highlight attention to detail, patience, on-time delivery and clear communication as particular business strengths. I look forward to availing of his ongoing webdesign support as my business grows.</p>
      <footer class="quote">
        <p>
          <cite>Lynda, <a href="http://westcoastkitchen.ie/" target="_blank" title="External link - www.westcoastkitchen.ie">West Coast Kitchen</a></cite>
        </p>
      </footer>
    </blockquote>
  </section>
    {% include button-bottom.html %}
</main>
